.card {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: var(--mantine-font-family);
  font-weight: 700;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 24px;
  margin-top: var(--mantine-spacing-xs);
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.75;
  font-weight: 700;
  text-transform: uppercase;
}